@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 3;
    transition: all .7s linear;
}
.showcase.active{
    right: 300px;
}
.showcase header{

    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    padding: 40px 100px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
    color: #48aedd;
    font-size: 36px;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background-image: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    transition: all .3s linear;
}
.toggle.active{
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;

}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #48aedd;
    mix-blend-mode: overlay;
}
.text{
    position: relative;
    z-index: 10;
}
.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3{
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}
.text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}
.btn{
    padding: 10px 30px;
    display: inline-block;
    margin-top: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #FFF;
    background: transparent;
    border: 1px solid #48aedd;
    font-size: 16px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #48aedd;
    -webkit-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
    text-align: center;
}
.btn:hover{
    box-shadow: inset 150px 0 0 0 #48aedd;
}
.social{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li{
list-style: none;
}
.social li a{
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(.7);
    transition: 0.5s;
}
.social li a:hover{ 
    transform: scale(.8) translateY(-20px);
   filter:invert(1) drop-shadow(15px 10px 4px #48aedd) ;
  
}
.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    position: relative;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #111;
}
.menu ul li a:hover{
    color: #03a9f4;
}
@media(max-width:798px){
    .showcase,.showcase header{
        padding:40px;
    }
    .text h2{
        font-size: 3em;
    }
    .text{
        font-size: 2em;
    }
}